
@{
    ViewBag.Title = "DownloadEvent";
}

<div class="jumbotron">
    <h2>York University Global Calendar System</h2>
    <br />
    <div class="row">
        <div class="col-md-3">
            @Html.ActionLink("Download", "DownloadEvent", "Event", null, new { @class = "btn btn-primary btn-lg btnHeight" })
        </div>
    </div>
</div>

