@{
    ViewBag.Title = "York University Global Calendar System";
}

<div class="container">
    <div class="jumbotron">
        <h2>Welcome to York University Global Calendar System.</h2>
        <br />
        <div class="row">
            @*<div class="col-md-3">
                    @Html.ActionLink("Add event", "Create", "Event", null, new { @class = "btn btn-primary btn-lg btnHeight" })
                </div>
                <div class="col-md-3">
                    @Html.ActionLink("Event subscription", "EventFilter", "Event", null, new { @class = "btn btn-primary btn-lg btnHeight" })
                </div>*@
        </div>
    </div>
    </div>






