@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">We are sorry!</h1>
<h2 class="text-danger">Please accept our apology for the inconveniences. There is some problem in flow you are checking.</h2>
<p>Kindly infom us to <a href="mailto:" class="color2" style="font-size:smaller;">support@calendarsystem.com</a></p>
<p>Our support team will get back to you.</p>
<p>Thank you!</p>
